Importing Libraries

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly as go

In [11]:
df_path = '../data/customer_data.csv'
df = pd.read_csv(df_path)

In [12]:
df.head(5)

,"""recordID""",state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn,customer_id
0,1,HI,101,510,no,no,0,70.9,123,12.05,...,18.01,236.0,73,10.62,10.6,3,2.86,3,no,23383607.0
1,2,MT,137,510,no,no,0,223.6,86,38.01,...,20.81,94.2,81,4.24,9.5,7,2.57,0,no,22550362.0
2,3,OH,103,408,no,yes,29,294.7,95,50.10,...,20.17,300.3,127,13.51,13.7,6,3.70,1,no,59063354.0
3,4,NM,99,415,no,no,0,216.8,123,36.86,...,10.74,220.6,82,9.93,15.7,2,4.24,1,no,25464504.0
4,5,SC,108,415,no,no,0,197.4,78,33.56,...,10.54,204.5,107,9.20,7.7,4,2.08,2,no,691824.0

In [13]:
df.describe()

,"""recordID""",account_length,area_code,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,customer_id
count,12892.00000,12892.000000,12892.000000,12892.000000,12892.000000,12892.000000,12892.000000,12892.000000,12892.000000,12892.000000,12892.000000,12892.000000,12892.000000,12892.000000,12892.000000,12892.000000,12892.000000,1.289200e+04
mean,6446.50000,100.676621,437.133804,7.996665,180.162023,100.266599,30.628086,200.711852,100.137139,17.060717,200.557834,100.038241,9.025192,10.244702,4.467654,2.766584,1.563683,2.830245e+11
std,3721.74417,39.806413,42.341820,13.641977,54.207056,19.946657,9.215171,50.781851,19.894032,4.316445,50.632872,19.749714,2.278507,2.782623,2.466493,0.751269,1.310606,3.205835e+13
min,1.00000,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.400000e+01
25%,3223.75000,73.000000,408.000000,0.000000,144.000000,87.000000,24.480000,166.200000,87.000000,14.130000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,2.409909e+07
50%,6446.50000,100.000000,415.000000,0.000000,180.000000,101.000000,30.600000,201.150000,100.000000,17.095000,200.800000,100.000000,9.040000,10.300000,4.000000,2.780000,1.000000,3.219535e+07
75%,9669.25000,127.000000,510.000000,19.000000,216.300000,114.000000,36.770000,234.900000,114.000000,19.970000,235.100000,113.000000,10.580000,12.100000,6.000000,3.270000,2.000000,5.535319e+07
max,12892.00000,243.000000,510.000000,52.000000,351.500000,165.000000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,3.640000e+15

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12892 entries, 0 to 12891
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0    "recordID"                    12892 non-null  int64
 1   state                          12892 non-null  object
 2   account_length                 12892 non-null  int64
 3   area_code                      12892 non-null  int64
 4   international_plan             12892 non-null  object
 5   voice_mail_plan                12892 non-null  object
 6   number_vmail_messages          12892 non-null  int64
 7   total_day_minutes              12892 non-null  float64
 8   total_day_calls                12892 non-null  int64
 9   total_day_charge               12892 non-null  float64
 10  total_eve_minutes              12892 non-null  float64
 11  total_eve_calls                12892 non-null  int64
 12  total_eve_charge               12892 non-null  float64
 13  total_night_minutes            12892 non-null  float64
 14  total_night_calls              12892 non-null  int64
 15  total_night_charge             12892 non-null  float64
 16  total_intl_minutes             12892 non-null  float64
 17  total_intl_calls               12892 non-null  int64
 18  total_intl_charge              12892 non-null  float64
 19  number_customer_service_calls  12892 non-null  int64
 20  churn                          12892 non-null  object
 21  customer_id                    12892 non-null  float64
dtypes: float64(9), int64(9), object(4)
memory usage: 2.2+ MB

In [15]:
df

,"""recordID""",state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn,customer_id
0,1,HI,101,510,no,no,0,70.9,123,12.05,...,18.01,236.0,73,10.62,10.6,3,2.86,3,no,23383607.0
1,2,MT,137,510,no,no,0,223.6,86,38.01,...,20.81,94.2,81,4.24,9.5,7,2.57,0,no,22550362.0
2,3,OH,103,408,no,yes,29,294.7,95,50.10,...,20.17,300.3,127,13.51,13.7,6,3.70,1,no,59063354.0
3,4,NM,99,415,no,no,0,216.8,123,36.86,...,10.74,220.6,82,9.93,15.7,2,4.24,1,no,25464504.0
4,5,SC,108,415,no,no,0,197.4,78,33.56,...,10.54,204.5,107,9.20,7.7,4,2.08,2,no,691824.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12887,12888,MT,25,415,no,no,0,134.3,98,22.83,...,17.20,195.9,100,8.82,12.6,5,3.40,2,no,3785730.0
12888,12889,MT,113,415,no,no,0,215.9,93,36.70,...,20.41,156.7,123,7.05,4.9,5,1.32,3,no,25171109.0
12889,12890,ID,88,415,no,yes,31,181.6,91,30.87,...,18.12,207.8,104,9.35,11.4,4,3.08,1,no,12126991.0
12890,12891,AK,120,415,no,no,0,178.4,97,30.33,...,14.31,120.5,93,5.42,9.3,9,2.51,1,no,33084674.0
12891,12892,UT,74,415,no,no,0,106.4,84,18.09,...,11.92,90.9,81,4.09,11.4,3,3.08,1,no,28432623.0

In [16]:
count = df.value_counts()
print(count)

 "recordID"  state  account_length  area_code  international_plan  voice_mail_plan  number_vmail_messages  total_day_minutes  total_day_calls  total_day_charge  total_eve_minutes  total_eve_calls  total_eve_charge  total_night_minutes  total_night_calls  total_night_charge  total_intl_minutes  total_intl_calls  total_intl_charge  number_customer_service_calls  churn  customer_id
1            HI     101             510        no                  no               0                      70.9               123              12.05             211.9              73               18.01             236.0                73                 10.62               10.6                3                 2.86               3                              no     23383607.0     1
8600         RI     114             510        no                  yes              28                     225.8              94               38.39             193.0              117              16.41             232.4                100                10.46               8.4                 9                 2.27               4                              no     38714424.0     1
8590         DC     108             510        no                  no               0                      138.6              122              23.56             172.3              117              14.65             231.6                92                 10.42               9.8                 3                 2.65               1                              no     24130759.0     1
8591         TX     114             415        no                  no               0                      84.7               118              14.40             249.9              86               21.24             193.4                95                 8.70                14.5                8                 3.92               1                              no     35920842.0     1
8592         KS     92              408        yes                 no               0                      62.6               111              10.64             180.6              126              15.35             221.7                80                 9.98                10.4                2                 2.81               1                              yes    302050414.0    1
                                                                                                                                                                                                                                                                                                                                                                                                ..
4300         IA     89              415        no                  yes              35                     174.4              108              29.65             196.7              100              16.72             127.4                74                 5.73                11.8                3                 3.19               1                              no     7915192.0      1
4301         RI     63              415        no                  no               0                      180.5              126              30.69             230.0              98               19.55             232.5                73                 10.46               10.6                3                 2.86               0                              no     3337722.0      1
4302         AL     102             415        no                  no               0                      123.1              106              20.93             182.0              102              15.47             244.6                75                 11.01               12.6                7                 3.40               2                              no     23663461.0     1
4303         NC     76              510        no                  no               0                      165.7              94               28.17             257.4              80               21.88             170.8                114                7.69                10.0                4                 2.70               1                              no     30154942.0     1
12892        UT     74              415        no                  no               0                      106.4              84               18.09             140.2              104              11.92             90.9                 81                 4.09                11.4                3                 3.08               1                              no     28432623.0     1
Name: count, Length: 12892, dtype: int64

In [17]:
df.isnull().sum()

 "recordID"                      0
state                            0
account_length                   0
area_code                        0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churn                            0
customer_id                      0
dtype: int64

In [18]:
int_cols = df.select_dtypes(include=['int'])
float_cols = df.select_dtypes(include=['float'])
obj_cols = df.select_dtypes(include=['object'])

- recordID
- account_length
- area_code
- number_vmail_messages	
- total_day_minutes	
- total_day_calls	
- total_day_charge	
- total_eve_minutes	
- total_eve_calls	
- total_eve_charge	
- total_night_minutes	
- total_night_calls	
- total_night_charge	
- total_intl_minutes	
- total_intl_calls	
- total_intl_charge	
- number_customer_service_calls	
- customer_id

## Visualisations

## Outliers

# Summary